<a href="https://colab.research.google.com/github/sakshikhachane/Algo_Ds_Notes/blob/master/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

>[Introduction](#scrollTo=1Wio06tstydj)

>[Basic operations](#scrollTo=InDBu5rfurNl)

>[Strings](#scrollTo=uIka8RgguzcL)

>[Output and input](#scrollTo=nt5XWrTHu5iq)

>[String operations](#scrollTo=v96D04Z6u9MD)

>[Typecasting](#scrollTo=ks_g9OEgvBRa)

>[Variables](#scrollTo=omBc3jzvvMvj)

>[In place operators](#scrollTo=9J-3FyTZvgox)

# Introduction

Python is a dynamically typed, usually interpreted programming langauge, created by Guido Van Rossum in 1991. The major versions of Python are 1.x, 2.x and 3.x. Python 3 introduced a lot of breaking changes from Python2. Here we'll be using Python 3.

If you want to (and it's a good thing to do) install Python on your machine, visit [Python's website](https://www.python.org) for installation instructions. If you are using Linux, it's already installed. 

However, for data science use cases, Jupyter Notebooks are most preferred. You can download [Anaconda Navigator](https://www.anaconda.com/distribution/) and follow the instructions [here](https://docs.anaconda.com/ae-notebooks/user-guide/basic-tasks/apps/jupyter/) to get Jupyter Notebooks up and running.

# Basic operations

Python has the capability of (unsurprisingly) carrying out calculations. It can perform arithmetic operations like addition, subtraction and multiplication.

In [0]:
2+5

In [0]:
2-5

In [0]:
49*76

Dividing two integers produces a decimal value

In [0]:
12/5

Using // we can get the quotient

In [0]:
12//5

Using % we can get the remainder

In [0]:
12%5

** is the exponentiation operator. Also as evident, Python integers can be arbitrarily big.

In [0]:
12**1000

Parenthesis can change the order of operation

In [0]:
2*(3+4)

Putting a - sign before a number makes it negative

In [0]:
(-7*2)/4

Dividing by 0 causes an error

In [0]:
11/0

# Strings

So far we have seen only integers, which are called **int** in Python. Also we have seen floating point numbers which are called **float**. Now let's see strings. Strings are a sequence of letters which can include alphabets, numbers, symbols, spaces, newlines, and other characters.

A string in Python must be wrapped around quotes. It can be wrapped with double quotes

In [0]:
"Hi"

Or single quotes

In [0]:
'hi'

But these strings cannot include line break

In [0]:
"Hi 
I want to be a multiline text. Please help"

In order to include line breaks, a string must be wrapped around using three double quotes

In [0]:
"""Hello
This is a multiline
text
"""

If you want to use a double quote inside a double quoted string or single quotes inside a single quoted string, you have to **escape** the inner quotes by putting a backslash(\) before them.

In [0]:
"He said, \"This is bad.\""

You can however use single quotes inside double quoted strings and double quotes inside single quoted strings.

In [0]:
'He said, "This is bad."'

# Output and input

To print something to the console, we use the print function. 
If you pass more than one things using comma, they'll all be printed together with a space in between. print() by default puts a line break after the output

In [0]:
print("Hello, World!")
print(1+1)
print("Hi", "Hello")

To take an input from user, we use the input function. Whatever is inside the input function, will be shown to the user as a prompt. The function will read everything the user types after the user presses the enter key.

In [0]:
input("Please enter something: ")

# String operations

Using the + operator, two strings can be concatenated. It doesn't matter which string is delimited by which quote

In [0]:
"Hello, " + "World"

Adding a string to an int or float is however an error

In [0]:
"Hi" + 12

If you multiply a string by an int, the string is repeated that many times

In [0]:
"Hello" * 4

Trying to multiply a string with something else causes an error

In [0]:
"Hi" * 7.0

# Typecasting

Typecasting is the process of converting a data of one type to another type.

To convert one type into another, we use the typename and pass the value inside parenthesis. So far we have studied integer, float and string. Their typenames are **int, float and str** respectively

In [0]:
print("2" + "3")
int("2") + int("3")

If you try to convert something to an int which cannot be converted, an error will be thrown

In [0]:
int("lol")

The result of the input() function is always a str. You can cast it to any other type.

In [0]:
int(input("Enter a number: "))

# Variables

Variables allows us to store a value by giving it a name. We can later access the value by using its name

In Python, variables need not be declared. Using the = operator we can provide an initial value which will create the variable if it didn't exist. If it exists, the value will be changed.

In [0]:
x = 8
print(x)
print(x+3)

In Python, we can reassign to a variable any number of times. We can even assign a string to a variable which had int value before. This is because, Python is **dynamically typed** so the type of a variable can be changed. This makes writing code easy as well as difficult!

In [0]:
y = 2
print(y)
y = "Hello"
print(y)

Names of a variable are known as **identifier**. An identifier can only contain alphabets, digits and underscores.

In [0]:
this_is_a_valid_name = 12

An identifier cannot begin with a digit, or cannot contain spaces

In [0]:
123abc = 2
a b c = 3

Trying to use a non existent variable causes an error

In [0]:
a = "Hi"
#b

Usign **del** we can remove a variable

In [0]:
del a
a

We can use a variable to store the result of the input() function

In [0]:
a = input("Enter your name: ")
print(a)

# In place operators

If we want to store the result of an arithmetic operation with a variable into the **same variable** we can use in-place operators ( +=, -=, *=, /= and so on)
For example, x = x* 2 is equivalent to x *= 2

Python lacks increment and decrement operators (++ and --) like other languages.

In [0]:
x = 2
x = x + 2
print(x)
x += 2
print(x)